@charset "UTF-8";

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
   font-size: 20px;
}

.container {
    max-width: 1120px;
    margin: 50px auto 0;
    text-align: center;
}
